

@import "_utilities.scss";

code {
  color: #E01A76;
}



html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Lato,sans-serif !important;
  font-size: 13px;
  background-color: #D8DCE3 !important;
  position: relative;
}




/*=================================================
  Overrides
===================================================*/
.btn {
  font-size: 13px !important;
}

.btn-sm {
  height: 31px !important;
}

.btn-xs {
 
  font-size: 10px !important;
}


/*=================================================
  Containers
=================================================*/
.rbox {
  background-color: #fff;
}

.rbox-title {
  color: #f2f2f2;
  background-color: rgba(39, 39, 39, 0.85);
  padding: 7px;
  font-size: 14px !important;
  text-transform: uppercase;
}

.rbox-active {
  font-weight: 800 !important;
}

.edit-label {
  color: #8e8e8e !important;
  text-transform: uppercase !important;
  font-size: 12px;
}




.rbox-content {
  padding: 5px;
}



/*1 bar*/
.rbox-content-height-1 {
  overflow-y: auto;
  height: calc(100vh - 52px);
  overflow-x: hidden;
}

/*2 bars*/
.rbox-content-height-2 {
  overflow-y: auto;
  height: calc(100vh - 113px);
  overflow-x: hidden;
}

/*2 bars*/
.rbox-content-height-2b {
  overflow-y: auto;
  height: calc(100vh - 166px);
  overflow-x: hidden;
}

/*3 bars*/
.rbox-content-height-3 {
  overflow-y: auto;
  height: calc(100vh - 155px);
  overflow-x: hidden;
}

.rbox-content-height-4 {
  overflow-y: auto;
  height: calc(100vh - 222px);
  overflow-x: hidden;
}

.rbox-content-bordered {
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.rbox-bl {
  border-left: $rbox-borders !important;
}

.rbox-bb {
  border-bottom: $rbox-borders !important;
}

.rbox-br {
  border-right: $rbox-borders !important;
}

.rbox-bt {
  border-top: $rbox-borders !important;
}


.edit-header-secondary {
  color: #5e5e5e;
  font-size: 14px !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  border-bottom: 1px solid $edit-border-colour !important;
  border-color: $edit-border-colour !important;
  text-transform: uppercase !important;
}

.mini-header {
  color: #313131;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
}

.edit-recordName {
  font-size: 18px !important;
}

/*==========================================
    Forms and Validation
===========================================*/

/*This is used to display validation errors in forms*/
em.error {
  color: red !important;
  float: right !important;
  margin-left: 10px !important;
  text-transform: none !important;
}




.cdk-overlay-container mat-datepicker-content {
  z-index: 2000 !important;
}

.datepicker {
  z-index: 9999 !important
}

.forms-height {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 161px);
}

.forms-height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $forms-default-bg-color;
}

.forms-height::-webkit-scrollbar {
  width: 6px;
  background-color: $forms-default-bg-color;
}

.forms-height::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}


/*Customer Top and Bottom row cards*/
.forms-top-height {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(52vh - 100px);
}

.forms-bottom-height {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(60vh - 121px);
}

.forms-top-height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $forms-default-bg-color;
}

.forms-top-height::-webkit-scrollbar {
  width: 6px;
  background-color: $forms-default-bg-color;
}

.forms-top-height::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}

.forms-bottom-height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $forms-default-bg-color;
}

.forms-bottom-height::-webkit-scrollbar {
  width: 6px;
  background-color: $forms-default-bg-color;
}

.forms-bottom-height::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}

.forms-bottom2-height::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: $forms-default-bg-color;
}

.forms-bottom2-height::-webkit-scrollbar {
  width: 6px;
  background-color: $forms-default-bg-color;
}

.forms-bottom2-height::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}
/*==========================================
    Spinner
===========================================*/



.pl-10 {
  padding-left: 15px !important;
}


:host {
  display: block;
}

.label {
  border-radius: 9px 9px 9px 9px;
  color: red;
  cursor: pointer;
  display: inline-block;
  padding: 0px 6px 0px 6px;
  text-decoration: underline;
}

.children {
  border-left: 3px solid #CCCCCC;
  margin: 5px 0px 5px 30px;
  padding-left: 10px;
}

:host( .selected ) {
  background-color: darkslateblue;
  color: white;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}

:host {
  border: 1px solid #dadada;
  border-radius: 4px 4px 4px 4px;
  display: block;
  padding: 10px 10px 10px 10px;
}

.selected {
  background-color: red !important;
}

/*.md-drppicker {
  width: 700px !important;
}*/

.double {
  width: 700px !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.ngb-dp-week {
  background-color: white !important;
  border-radius: 0px !important;
}



.md-drppicker .btn {
  background-color: $default-blue-bg !important;
}

.md-drppicker td.active {
  background-color: $default-blue-bg !important;
}

.md-drppicker .ranges ul li button.active {
  background-color: $default-blue-bg !important;
}

.md-drppicker th.month {
  font-weight: initial !important;
}

/*==========================================
    Modals
===========================================*/
.modal-full-height .modal-body {
  height: calc(100vh - 200px) !important;
}

.modal-standard-height .modal-body {
  height: calc(60vh) !important;
  max-height: calc(60vh) !important;
  overflow-y: auto;
}

.modal-extra-height .modal-body {
  height: calc(85vh) !important;
  max-height: calc(85vh) !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}

.hide-scroll::-webkit-scrollbar {
  width: 5px;
  color: blue;
  background-color: blue;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
}

/*==========================================
  Fixes and Hacks
===========================================*/

.form-row {
  padding: 0 !important;
  margin: 0 !important;
}




.content-scroll {
}

.modal-body {
}


.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}


/*=========================================*/
/*    ngSelect                              */
/*===========================================*/
select-single {
  width: 100% !important;
}

.ng-select-container {
  border-radius: 0 !important;
  height: 31px !important;
  min-height: 31px !important;
}

.ng-value-container {
}

.ng-optgroup {
  background-color: #122649;
  color: #e5e5e5 !important;
  font-size: 14px;
  font-weight: bold;
}



/*===========================================*/



.green {
  color: $green !important;
}


.orange {
  color: $orange !important;
}

.gray {
  color: $gray;
}

.light-gray {
  color: lightgray;
}

.red {
  color: #e03131;
  font-weight: bold;
}


.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  background: #000;
}

.circle-2x {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  background: #000;
}

.default-blue-bg {
  background-color: $default-blue-bg;
}



/*============================================
    Email List
============================================*/
.email-list {
}

.email-container {
  border: 1px solid #f3f3f3;
  margin-bottom: 2px;
}

.email-header {
  font-size: 12px;
  padding: 10px;
}

.email-header:hover {
  cursor: pointer;
}

.email-content {
  padding: 20px;
}



.bg-light-gray {
  background-color: #fbfbfb;
}

.bg-white {
  background-color: #fff;
}


/*===============================================
    Buttons
====================================================*/
.btn-sort {
  color: #fff;
  background-color: $btn-sort-bg-color;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  line-height: 20px !important;
  height: 20px !important;
}

.btn-sort:hover {
  color: #fff;
  background-color: $btn-sort-bg-color;
}

.btn-sort, .btn-sort:focus, .btn-sort:hover {
  border: none !important;
  box-shadow: none;
  background-color: inherit;
}

.btn-task {
  width: 100% !important;
}

/*===============================================
    Headers/Heading
====================================================*/

.header {
  background-color: #192E5B;
  color: #f7f7f7;
  font-size: 1.1em;
  padding: 3px;
  height: 30px;
  text-transform: uppercase;
}

.header a {
  color: white !important;
}



.inline-input {
  border: none;
  width: 95%;
}


/*===============================================
   Curosrs
====================================================*/

.cursor-pointer {
  cursor: pointer;
}



/*.progress-bar{
  min-width: 15%;
}*/




/*===============================================
   Status
====================================================*/
.stat-OP, .stat-OP:hover, .stat-OP.active {
  background-color: #d09041;
  border: none;
  color: $stat-color !important;
}

.stat-WIP, stat-WIP:hover {
  background-color: #ff6000;
  border: none;
  color: $stat-color !important;
}

.stat-CR, .stat-CR:hover, .stat-CR.active {
  background-color: #6c757d;
  border: none;
  color: $stat-color !important;
}

.stat-WAIT, .stat-WAIT:hover, .stat-WAIT.active {
  background-color: #d0d138;
  border: none;
  color: $stat-color !important;
}

.stat-WAI, .stat-WAI:hover, .stat-WAI.active {
  background-color: #d0d138;
  border: none;
  color: $stat-color !important;
}

.stat-CLO, .stat-CLO:hover, .stat-CLO.active {
  background-color: #21d024;
  border: none;
  color: $stat-color !important;
}


.centre {
  text-align: center;
}

.badge-lg {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-top: 6px;
}

.stat-fc-OP {
  color: #d09041;
}

.stat-fc-WIP {
  color: #ff6000
}

.stat-fc-CR {
  color: rgba(0,0,0,0.3);
}

.stat-fc-WAIT {
  color: #d0d138;
}

.stat-fc-CLO {
  color: #21d024;
}


/*====================================================*/
/*button DropDown*/
/*====================================================*/


/*Side Bar*/
.animate-modal-open {
  left: 42%;
  top: 20%;
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.animate-modal-close {
  left: 42%;
  top: 70%;
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slideout {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 300%;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 500;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 50px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 50px;
    right: 35px;
  }
}

.close:focus {
  outline: none;
}
/*===============================================
    Icons
================================================*/
.icon-favourite {
  color: #F1C40F;
  font-size: 16px;
}

.icon-notification {
  color: #dd9715;
  font-size: 16px;
}

.ico-question {
  color: #d76921;
}

.ico-error {
  color: #dd4545;
}



.dialog-message {
  font-size: 16px;
}

.btn-on, .btn-on:hover {
  background-color: rgb(90, 175, 87);
  color: #fff;
}

.btn-off, .btn-off:hover {
  background-color: rgba(0,0,0,0.3);
  color: #f5f5f5;
}

.modified-width {
  width: 200px !important;
}

/*.test {
  color: #dcc000
}*/

.col-red {
  color: #dd4545;
}

.bg-red {
  background-color: #dd4545;
}



/*================Experimental Tree style=====================*/

/* ————————————————————–
  Tree core styles
*/
.tree {
  margin: 1em !important;
}

.tree input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0) !important;
}

.tree input ~ ul {
  display: none !important;
}

.tree input:checked ~ ul {
  display: block !important;
}

/* ————————————————————–
  Tree rows
*/
.tree li {
  line-height: 1.2 !important;
  position: relative !important;
  padding: 0 0 1em 1em !important;
}

.tree ul li {
  padding: 1em 0 0 1em !important;
}

.tree > li:last-child {
  padding-bottom: 0 !important;
}

/* ————————————————————–
  Tree labels
*/
.tree_label {
  position: relative !important;
  display: inline-block !important;
  background: #fff !important;
}

label.tree_label {
  cursor: pointer !important;
}

label.tree_label:hover {
  color: #666 !important;
}

/* ————————————————————–
  Tree expanded icon
*/
label.tree_label:before {
  background: #000 !important;
  color: #fff !important;
  position: relative !important;
  z-index: 1 !important;
  float: left !important;
  margin: 0 1em 0 -2em !important;
  width: 1em !important;
  height: 1em !important;
  border-radius: 1em !important;
  content: '+' !important;
  text-align: center !important;
  line-height: .9em !important;
}

:checked ~ label.tree_label:before {
  content: '–' !important;
}

/* ————————————————————–
  Tree branches
*/
.tree li:before {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: -.5em !important;
  display: block !important;
  width: 0 !important;
  border-left: 1px solid #777 !important;
  content: "" !important;
}

.tree_label:after {
  position: absolute !important;
  top: 0 !important;
  left: -1.5em !important;
  display: block !important;
  height: 0.5em !important;
  width: 1em !important;
  border-bottom: 1px solid #777 !important;
  border-left: 1px solid #777 !important;
  border-radius: 0 0 0 .3em !important;
  content: '' !important;
}

label.tree_label:after {
  border-bottom: 0 !important;
}

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0 !important;
  border-top: 1px solid #777 !important;
  border-right: 1px solid #777 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  bottom: 0 !important;
  top: 0.5em !important;
  height: auto !important;
}

.tree li:last-child:before {
  height: 1em !important;
  bottom: auto !important;
}

.tree > li:last-child:before {
  display: none !important;
}

.tree_custom {
  display: block !important;
  background: #eee !important;
  padding: 1em !important;
  border-radius: 0.3em !important;
}

/*==========================================*/

.align-right {
  text-align: right;
}

.aligh-left {
  text-align: left;
}

.align-center {
  text-align: center;
}


.file-icon {
  font-size: 18px !important;
}

.top-tab-bar {
  background-color: #fff;
}


.input-search {
  width: 300px !important;
}

.tooltip {
  z-index: 9999 !important;
}




.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.page-title {
  font-size: 22px;
  margin-right: 10px;
  display: block;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*
    Scrollbars
*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: $default-blue-bg;
}
/*==========================================*/
/*
    Buttons
*/
.btn:focus {
  box-shadow: none;
}
/*==========================================*/



.big-tip .tooltip-inner {
  width: 250px !important;
  max-width: 250px !important;
}


.div-inline {
  display: inline;
  clear: none;
}


/*=========================================
    Google Chrome Black Outline Fix                              
===========================================*/

*, *:focus, *:hover {
  outline: none;
}

.User-Image-Size-md {
  border-radius: 50%;
  /* for md  size avatar */
  width: 30px;
  height: 30px;
}

.User-Image-Size-sm {
  border-radius: 50%;
  /* for sm  size avatar */
  width: 25px;
  height: 25px;
}

.User-Image-Size-lg {
  border-radius: 50%;
  /* for sm  size avatar */
  width: 50px;
  height: 50px;
}


.bb-1 {
  border-bottom: solid 5px #D8DCE3;
}







.edit-title {
  font-size: 22px;
  margin-right: 10px;
  display: block;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// ========================================================================
// Hights
// =========================================================================

.edit-form-height {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-form-height-2 {
  height: calc(100vh - 130px);
  overflow-y: auto;
  overflow-x: hidden;
}
.edit-form-height-2b {
  height: calc(100vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-form-height-3 {
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  font-size: 22px;
  margin-right: 10px;
  display: block;
  width: 600px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



input:read-only {
  cursor: not-allowed !important;

}


.widePopover {
  max-width: 50%;
}


.badge-DC {
  background-color: $color-primary;
  color: $off-white;
}

.badge-DR {
  background-color: $red;
  color: $off-white;
}

.badge-EW {
  background-color: $green;
  color: $off-white;
}

.badge-DA {
  background-color: #a2d2ff;
  color: $off-white;
}

.badge-DT {
  background-color: $color-silver;
  color: $off-white;
}

.badge-SC {
  background-color: $mustard-yellow;
  color: $off-white;
}

.badge-ME {
  background-color: $mustard-yellow;
  color: $off-white;
}

.badge-DF {
  background-color: #b7e4c7;
  color: #676767;
}


.mailer-member-padding {
  padding-left: 5px !important;
  padding-top: 10px !important;
  padding-right: 5px !important;
  padding-bottom: 0px !important;
}
